work
transcript
dni
qdb
*.rpt
*.pin
*.qpf
*.qsf
*.qsf.backup
*.summary
*.done
*_save_view.txt
*.qws
.qsys_edit
simulation
serv_req_info.txt
systolic_array/data*
testbench/scripts/data/
build_24_2
rr
*copy*